[data-theme='dark'] {
  --canvas-bg-clr: hsl(210, 9%, 20%);
  --titlebar-bg-clr: hsl(210, 9%, 15%);
  --bottombar-bg-clr: hsl(210, 9%, 15%);
  --component-bg-clr: hsl(210, 9%, 15%);
  --component-hover-bg-clr: hsl(210, 9%, 20%);
  --component-active-bg-clr: hsl(210, 9%, 25%);

  --canvas-fg-clr: hsl(210, 9%, 90%);
  --titlebar-fg-clr: hsl(210, 9%, 90%);
  --bottombar-fg-clr: hsl(210, 9%, 90%);
  --component-fg-clr: hsl(210, 9%, 90%);

  --canvas-border-clr-alt: hsl(210, 9%, 30%);
  --titlebar-border-clr: hsl(210, 9%, 20%);
  --bottombar-border-clr: hsl(210, 9%, 20%);
  --component-border-clr: hsl(210, 9%, 20%);

  --table-bg-clr: hsl(210, 9%, 10%);
  --table-fg-clr: hsl(210, 9%, 90%);
  --table-border-clr: hsl(210, 9%, 30%);
  --table-header-bg-clr: hsl(210, 9%, 15%);
  --table-header-fg-clr: hsl(210, 9%, 90%);
  --table-header-border-clr: hsl(210, 9%, 30%);
  --table-row-bg-clr: hsl(210, 9%, 20%);
  --table-row-alt-bg-clr: hsl(210, 9%, 25%);
  --table-row-fg-clr: hsl(210, 9%, 90%);
  --table-row-border-clr: hsl(210, 9%, 30%);

  --accent-clr: hsl(210, 100%, 50%);

  --font-family: 'Inter', sans-serif;
  --font-size: 0.8rem;
  --font-weight: 400;
  --base-gap: 0.3rem;
  --base-padding: 0.3rem;
  --base-radius: 6px;
  --base-transition: 0.3s ease-in-out;

  --color-mix-light: hsl(0, 0%, 100%);
  --color-mix-dark: hsl(0, 0%, 0%);
}