<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <!-- Content Security Policy -->
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self'; img-src 'self';">
  <!-- FontAwesome -->
  <link rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="../src/style.css">

</head>
<body>
  <div class="app-container">
    <div class="titlebar flex-row justify-between">
      {{> titlebar }}
    </div>
    <div class="center-container">
      <div class="sidebar flex-col justify-between">
        {{> sidebar }}
      </div>
      <div class="explorer flex-col base-gap">
        {{> explorer }}
      </div>
      <div class="vertical-center-container">
        <div class="loader"></div>
        <div class="breadcrumb">

        </div>
        <div class="page-container">

        </div>
        <div class="bottom-menu">

        </div>
      </div>
      <div class="right-menu">

      </div>
    </div>
    <div class="bottombar flex-row align-center justify-between"> 
      {{> bottombar }}  
    </div>
  </div>
</body>
</html>
