/* Titlebar */
.titlebar {
  grid-area: titlebar;
  background-color: var(--titlebar-bg-clr);
  color: var(--titlebar-fg-clr);
  border-bottom: 1px solid var(--titlebar-border-clr);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem
}

.titlebar > div {
  display: flex;
  align-items: center;
  gap: var(--base-gap);
  height: 100%;
}

.titlebar-btn {
  transition: var(--base-transition);
  border-radius: var(--base-radius);
  height: 100%;
  padding: 0 0.5rem;
}

.titlebar-btn:hover {
  background-color: color-mix(in hsl, var(--titlebar-bg-clr) 80%, var(--color-mix-light) 10%);
}

.titlebar-btn:active {
  background-color: color-mix(in hsl, var(--titlebar-bg-clr) 80%, var(--color-mix-light) 20%);
}