<div class="bottom-menu-resizer">

</div>

<div class="tab-bar flex-row align-center base-gap">
  <button class="btn tab-btn">
    Output
  </button>
  <button class="btn tab-btn">
    Attachments
  </button>
  <button class="btn tab-btn">
    System Info
  </button>
  <button class="btn tab-btn">
    Tasks
  </button>
</div>

<div class="bottom-menu-content-container">

</div>