<div class="explorer-resizer"></div>

<div class="flex-row align-center justify-between">
  <p>
    Explorer
  </p>
  <button class="icon-btn explorer-btn tooltip-bottom-right" tooltip="Explorer Menu">
    <i class="fas fa-ellipsis-vertical"></i>
  </button>
</div>

<div class="treeview-container flex-col">

</div>