<div class="flex-row align-center justify-between">
  <p>Right Menu</p>
  <button class="icon-btn close-btn tooltip-bottom-right" tooltip="Close Right Menu">
    <i class="fas fa-times"></i>
  </button>
</div>

<div class="right-menu-content"></div>