<!-- Sidebar Top -->  
<div class="flex-col base-gap">
  <button class="icon-btn sidebar-btn tooltip-bottom-left" tooltip="Sidebar Menu">
    <i class="fas fa-bars"></i>
  </button>
  <div class="sidebar-seperator"></div>
  <button class="icon-btn sidebar-btn tooltip-bottom-left" tooltip="Home">
    <i class="fas fa-home"></i>
  </button>
</div>

<!-- Sidebar Bottom -->
<div class="flex-col base-gap">
  <div class="sidebar-seperator"></div>
  <button class="icon-btn sidebar-btn tooltip-top-left" tooltip="Information">
    <i class="fas fa-info-circle"></i>
  </button>
  <button class="icon-btn sidebar-btn tooltip-top-left" tooltip="Help">
    <i class="fas fa-question-circle"></i>
  </button>
  <button class="icon-btn sidebar-btn tooltip-top-left" tooltip="Settings">
    <i class="fas fa-cog"></i>
  </button>
</div>