<!-- Titlebar Left -->
<div class="flex-row align-center base-gap">
  <button class="btn titlebar-btn">
    File
  </button>
  <button class="btn titlebar-btn">
    Edit
  </button>
  <button class="btn titlebar-btn">
    View
  </button>
  <button class="btn titlebar-btn">
    Help
  </button>
</div>

<!-- Titlebar Right -->
<div class="flex-row align-center base-gap">
  <!-- Titlebar Other Buttons -->
  <button
    id="explorer-toggle-btn"
    class="icon-btn titlebar-btn tooltip-bottom-right"
    tooltip="Toggle explorer"
  >
    <i class="fas fa-square-caret-left"></i>
  </button>
  <button
    id="bottom-menu-toggle-btn"
    class="icon-btn titlebar-btn tooltip-bottom-right"
    tooltip="Toggle Bottom Menu"
  >
    <i class="fas fa-square-caret-down"></i>
  </button>
  <button
    id="right-menu-toggle-btn"
    class="icon-btn titlebar-btn tooltip-bottom-right"
    tooltip="Toggle Right Menu"
  >
    <i class="fas fa-right-to-bracket"></i>
  </button>

  <!-- Titlebar Window Buttons -->
  <button
    id="minimize-btn"
    class="icon-btn titlebar-btn tooltip-bottom-right"
    tooltip="Minimize"
  >
    <i class="fas fa-minus"></i>
  </button>
  <button
    id="maximize-btn"
    class="icon-btn titlebar-btn tooltip-bottom-right"
    tooltip="Maximize/Restore"
  >
    <i class="far fa-square"></i>
  </button>
  <button
    id="close-btn"
    class="icon-btn titlebar-btn tooltip-bottom-right"
    tooltip="Close"
  >
    <i class="fas fa-xmark"></i>
  </button>

</div>