/* Nav menu */
.nav-menu {
  position: relative;
  grid-area: nav-menu;
  background-color: var(--component-bg-clr);
  color: var(--component-fg-clr);
  border-right: 1px solid var(--component-border-clr);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: var(--base-gap);
  width: 300px;
}

.nav-menu-resizer {
  position: absolute;
  top: 0;
  right: -4px;
  width: 4px;
  height: 100%;
  cursor: col-resize;
  transition: var(--base-transition);
}

.nav-menu-resizer:hover {
  background-color: var(--accent-clr);
}