/* Sidebar */
.sidebar {
  grid-area: sidebar;
  background-color: var(--component-bg-clr);
  color: var(--component-fg-clr);
  border-right: 1px solid var(--component-border-clr);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--base-gap);
  padding: var(--base-padding);
}

.sidebar > div {
  display: flex;
  flex-direction: column;
  gap: var(--base-gap);
  padding: var(--base-padding);
}

/* Sidebar Button */
.sidebar-btn {
  height: 40px;
  width: 100%;
  transition: var(--base-transition);
  border-radius: var(--base-radius);
}

.sidebar-btn:hover {
  background-color: var(--component-hover-bg-clr);
}

.sidebar-btn:active {
  background-color: var(--component-active-bg-clr);
}

.sidebar-divider {
  border-color: var(--component-border-clr);
}